.App {
  text-align: center;
}

form label{
  display: inline-block;
  text-align: left;
  width: 100px;
}

form input {
  margin-bottom: 10px;
}

form select {
  width: 169.1px;
  margin-bottom: 25px;
}

.user-list{
  display: flex;
  justify-content: center;
  align-items: center;
}